.underlinebg::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background-color: #1297fde2;
    border-radius: 10%;
    bottom: 0%;
    left: 30%;
    border-radius: 20px;
}
.logo{
    background-color: #f0f0f089;
    width: 80px;
    height: 80px;
    padding: 15px;
    border-radius: 5px;
}
.logo:hover{
    border: 1.5px solid #00bbff;
    transform: translate(0, -20%);
    transition: all 0.3s ease-in-out;
}